button {
    width: 200px;
    height: 200px;
    font-size: 100px;
    font-family: Segoe UI;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}